# ==========================================
# TELEGRAM
# ==========================================
# Docs: https://core.telegram.org/bots/tutorial
BOT_TOKEN=
ADMIN_IDS=

# ==========================================
# WEB ADMIN PANEL
# ==========================================
ADMIN_WEB_PASSWORD=
FLASK_SECRET=

# ==========================================
# DATABASE & LOGS
# ==========================================
DB_PATH=data/surveybot.db
